* {
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

section {
    margin: 130px 140px;
}

/* Header Section */
#header-sec {
    height: 100vh;
    background-image: url("../images/banner/banner1.png");
    display: flex;
    align-items: center;
    text-align: right;
}

.header-sec p {
    display: inline;
}

.header-title {
    font-size: 50px;
    font-weight: 900;
}

.description {
    font-size: 18px;
    width: 40%;
    color: #444343;
}

.btn {
    padding: 20px 25px;
    background-color: #f15b22;
    color: #ffff;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

/* Lessons of previous year */
.lessons {
    display: flex;
    gap: 45px;
    align-items: center;
}

.title {
    font-size: 35px;
    font-weight: bold;
}

.lsn-description {
    font-size: 18px;
    color: #444343;
    padding: 25px 0 20px;
}

.checklist {
    list-style: none;
    padding-bottom: 10px;
    font-size: 18px;
    color: #444343;
}